<h1>Welcome Back</h1>
<form action="/users/create-session" method="post">
    <input type="email" required placeholder="abc@xyz.com" name="email">
    <input type="password" placeholder="password" name="password" required >
    <button type="submit" style="cursor: pointer;" value="signin">Login</button>
</form>